language: php

php:
  - 5.4
  - 5.5

env:
  - SYMFONY_VERSION=2.3.*
  - SYMFONY_VERSION=dev-master

before_script:
  - composer require symfony/framework-bundle:${SYMFONY_VERSION} --no-update
  - composer update --dev

script:
  - mkdir -p build/logs
  - phpunit --coverage-clover ./build/logs/clover.xml


after_script:
  - php vendor/bin/coveralls -vvv --exclude-no-stmt

notifications:
  email:
    - boeckaert@gmail.com

matrix:
  allow_failures:
    - env: SYMFONY_VERSION=dev-master
