<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% trans from 'MilioooFriendsBundle' %}title.friends{% endtrans %}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <h1>{% trans from 'MilioooFriendsBundle' %}title.friends%{% endtrans %}</h1>

    {% block miliooo_friends_content %}{% endblock %}
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
